# Thirdweb Client ID
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=your_thirdweb_client_id

# Contract Addresses
NEXT_PUBLIC_CONTRACT_ADDRESS=your_smart_contract_address

NEXT_PUBLIC_BASE_URL=website_base_url

NEXT_PUBLIC_EXPLORER_URL=https://testnet.monadscan.com/

# Pinata IPFS Storage
NEXT_PUBLIC_PINATA_JWT=your_pinata_jwt
NEXT_PUBLIC_PINATA_GATEWAY=rose-magnificent-capybara-641.mypinata.cloud
